{% extends 'navbar.html' %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="card shadow-lg">
            <div class="card-body">
                <h1 class="card-title text-center">Sign Up</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary btn-block mt-3">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
