{% extends 'navbar.html' %}

{% block content %}
    <style>
        body {
            background-color: #f9f9f9;
            font-family: 'Poppins', sans-serif;
            color: #333;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-image: url('https://images.pexels.com/photos/2908984/pexels-photo-2908984.jpeg'); /* Use the correct path */
            background-size: cover;
            background-position: center;
        }

        form {
            width: 400px;
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            background-color: #fff;
        }

        h1 {
            font-size: 30px;
            text-align: center;
            margin-bottom: 30px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"] {
            width: 100%;
            padding: 12px;
            border-radius: 5px;
            border: 1px solid #ccc;
            font-size: 16px;
        }

        button[type="submit"] {
            width: 100%;
            padding: 15px;
            border-radius: 5px;
            border: none;
            background-color: #007bff;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        button[type="submit"]:hover {
            background-color: #0056b3;
        }
    </style>

    <form method="post">
        {% csrf_token %}
        <h1>User Registration</h1>
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password1">Password:</label>
            <input type="password" id="password1" name="password1" required>
        </div>
        <div class="form-group">
            <label for="password2">Confirm Password:</label>
            <input type="password" id="password2" name="password2" required>
        </div>
        <button type="submit">Register</button>
    <p class="text-center">Already have an account? <a href="{% url 'user_login' %}">Sign In</a></p>
    </form>
    
{% endblock %}
